.tiptap h1 {
  font-size: xx-large;
}

.tiptap h2 {
  font-size: x-large;
}

.tiptap h3 {
  font-size: larger;
}

.tiptap h4 {
  font-size: large;
}

.tiptap h5 {
  font-size: medium;
}

.tiptap h6 {
  font-size: small;
}

button.is-active {
  border: 1px solid white;
  padding: 3px;
  border-radius: 2px;
  border-radius: 10%;
  background-color: #fd5537;
  color: white;
}

button.editor {
  border: 1px solid black;
  padding: 3px;
  border-radius: 2px;
  border-radius: 10%;
  color: black;
}
