.tiptap.ProseMirror {
  padding: 5px 10px;
}

ul,
ol {
  padding: 0 1rem;
}
.tiptap ul {
  list-style-type: square;
}
.tiptap ol {
  list-style-type: decimal;
}
.tiptap h1 {
  font-size: xx-large;
}

.tiptap h2 {
  font-size: x-large;
}

.tiptap h3 {
  font-size: larger;
}

.tiptap h4 {
  font-size: large;
}

.tiptap h5 {
  font-size: medium;
}

.tiptap h6 {
  font-size: small;
}

code {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 5px;
  color: black;
}

.tiptap .ProseMirror {
  background-color: rgb(203 213 225);
}

button.is-active {
  border: 1px solid white;
  padding: 5px;
  border-radius: 2px;
  border-radius: 10%;
  background-color: #fd5537;
  color: white;
  margin-left: 3px;
}

button.editor {
  border: 1px solid black;
  padding: 5px;
  border-radius: 2px;
  border-radius: 10%;
  color: black;
  margin-left: 3px;
}

pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  margin: 15px 5px;
}

pre code {
  color: inherit;
  padding: 1 1 1 1;
  background: none;
  font-size: 0.8rem;
}
